.Todo {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    padding: 0 20px;
    color: #34495E;
    transition: all .3s ease;
    text-align: left;
}

.Todo:hover {
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.Todo:hover span {
    opacity: 1;
}

.complete {
    text-decoration: line-through;
    color: #BDC3C7;
}

.Todo span {
    float: right;
    color: #C0392B;
    transition: all 0.3s;
    opacity: 0;
    padding-left: 20px;
}

.Todo span:hover {
    color: #E74C3C;
}

.Todo-Form {
    width: 800px;
    margin: 50px auto 20px;
}

.Todo-Form input {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #34495E;
    outline: none;
    font: 200 28px 'Ubuntu', sans-serif;
    padding: 20px;
    color: #34495E;
    background-color: #ECF0F1;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}